body{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

h1{
    font-family: 'Libre Baskerville', serif;
    color: #8f0300;
    font-size: 35px;
}

h2{
    font-family: 'Libre Baskerville', serif;
    color: #8f0300;
    font-size: 25px;
}

h3{
    font-family: 'Libre Baskerville', serif;
    color: #8f0300;
    font-size: 20px;
}

h4{
    font-family: 'Libre Baskerville', serif;
    color: #8f0300;
    font-size: 18px;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: rgb(48, 45, 45);
}

li{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

button{
    font-family: 'Poppins', sans-serif;
    background-color: #f57070;;
    border: 1px solid #f57070;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.button-container{
    margin: 30px 0px;
}

a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #8f0300;
    font-weight: bold;
    font-size: 18px;
}

input{
    border-radius: 5px;
    padding: 10px;
    border: 1px solid lightgray;
    width: 90%;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

textarea{
    border-radius: 5px;
    padding: 10px;
    border: 1px solid lightgray;
    width: 90%;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.radio-select-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.radio-select-detail-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    input{
        margin: 10px;
        padding: 0px;
    }

    label{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
    }
}

.messagebar-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    input{
        width: 90%;
        margin: 0px 10px 0px 10px;
    }
}

.message-outer-container{
    background-color: white;
    border-left: 1px solid lightgray;
    margin: 20px;
    width: 90%;
    padding: 10px;
}

.message-meta-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .message-timestamp{
        font-size: 14px;
    }
}

.message-container{

    .message-content{
        background-color: #f3fafe;
        padding: 10px;
        border-radius: 5px;
    }

    .interaction-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 20px;

        p{
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
        }

        img{
            margin-left: 10px;
            height: 20px;
            width: 20px;
            cursor: pointer;
        }
    }

    .message-user-meta-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
    
        img{
            height: 30px;
            width: 30px;
            border-radius: 50%;
            margin-right: 10px;
        }
    
        p{
            font-size: 14px;
        }
    }

    .likes-container{
        display: flex;
        align-items: center;

        p{
            margin-top: -5px;
        }
    }
}

.dropdown-container{
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    padding: 10px 20px 10px 10px;

    .dropdown-icon-container{
        display: flex;
        align-items: flex-start;
        cursor: pointer;
        align-items: center;

        img{
            margin-right: 10px;
            height: 20px;
            width: 20px;
        }
    }
}

