.academy-section-header-container{
    display: flex;
    align-items: center;

    button{
        margin-left: 10px;
    }
}

#map-item-info-container{
    margin-left: 10%;
}

.mapboxgl-ctrl-bottom-right{
    display: none;
}