.chat-names-container{
    display: flex;
    justify-content: center;

    h1{
        margin-right: 8px;
    }
}

.chat-title-container{
    display: flex;
    justify-content: center;

    h1{
        margin-right: 8px;
    }

}