#create-story-title-container{
    margin-bottom: 60px;

    h2{
        color: black;
    }

    img{
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}

.user-meta-container{
    display: flex;
    justify-content: flex-start;
    cursor: pointer;

    img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 10px;
        margin-bottom: 0px !important;
    }

    p{
        font-weight: bold;
    }
}

.story-meta-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
}

.story-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.story-body-container{
    width: 90%;
    background-color: white;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
}

.messagebar-story-container{
    bottom: 20px;
    top: auto;
    width: 80%;
}

.story-messages-container{
    border-top: 1px solid lightgray;
    width: 100%;
}

.story-banner{
    height: 300px;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-story-banner{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}